.box {
    background-color: black;
    width: 200px;
    height: 470px;
    border-radius: 8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.redlight {
    background-color: red;
    border-radius: 80%;
    width: 80%;
    height: 31%;
    margin: auto;
    margin-top: 10px;}

.redyellow{ background-color: yellow;
    border-radius: 80%;
    width: 80%;
    height: 31%;
    margin: auto;
    margin-top: 5px;}

.redgreen{ background-color: green;
    border-radius: 80%;
    width: 80%;
    height: 31%;
    margin: auto;
    margin-top: 5px;}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
